<!-- Preloader -->
<div class="preLoader">
    <div class="preload-inner">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
</div>
<!-- End Of Preloader -->

<app-header></app-header>

<!-- home banner area -->
<div class="banner-area-inner" id="home">
    <div class="banner-inner-area banner-area1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <!-- banner text -->
                    <div class="banner-text-inner">
                        <div class="banner-shape-wrap">
                            <div class="banner-shape-inner">
                                <img src="assets/img/banner/shaps1.png" alt="" class='shape shape1 rotate3d'>
                                <img src="assets/img/banner/shaps2.png" alt="" class='shape shape2 rotate2d'>
                                <img src="assets/img/banner/shaps3.png" alt="" class='shape shape3 rotate-2d'>
                                <img src="assets/img/banner/shaps4.png" alt="" class='shape shape4 rotate3d'>
                                <img src="assets/img/banner/shaps5.png" alt="" class='shape shape5 rotate2d'>
                                <img src="assets/img/banner/shaps6.png" alt="" class='shape shape6 rotate-2d'>
                                <img src="assets/img/banner/shaps7.png" alt="" class='shape shape7 rotate3d'>
                            </div>
                        </div>
                        <h1>Evok es el valor que tu empresa necesitaaa</h1>
                        <p>Somos la primera plataforma online que facilita una conectividad entre provedores y comercializadores dentro del sector retail.</p>
                        <a href="#" class="btn">¡Contactanos!</a>
                        <a href="#" class="btn">Descubre más</a>
                    </div>
                    <!-- banner text -->
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-4 offse-xl-2">
                    <!-- banner image-->
                    <div class="banner-image">
                        <img src="assets/img/banner/investment-data-amico3.png" alt="">
                    </div>
                    <!--End of banner image-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of home banner area -->

<!-- feature area -->
<section class="pb-110" id='features'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <!-- section title -->
                <div class="section-title text-center">
                    <h2>Nos distingimos por brintarte valor en cada actividad que haces en tu negocio</h2>
                    <p>Digitalizamos y automatizamos las actividades cotidianas y repetitivas para que puedas enfocarte solo en crecer tu negocio</p>
                </div>
                <!-- End of section title -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="feature-carousel owl-carousel">
                    <!-- single feature inner -->
                    <div class="single-feature-inner text-center">
                        <div class="feature-icon"><img src="assets/img/icons/project-management.svg" class="svg" alt=""></div>
                        <h5>Practica de negocios<br>CPFR</h5>
                        <p>Nuestra plataforma reduce los costos de inventarios y aumenta la rentabilidad de los productos.</p>
                    </div>
                    <!-- End of single feature inner -->

                    <!-- single feature inner -->
                    <div class="single-feature-inner text-center">
                        <div class="feature-icon"><img src="assets/img/icons/handshake.svg" class="svg svg-size" alt=""></div>
                        <h5>Colaboracion <br> mutua</h5>
                        <p>Hacemos que tus procesos sean colaborativos para que obtengas los beneficios de trabajar en equipo.</p>
                    </div>
                    <!-- End of single feature inner -->

                    <!-- single feature inner -->
                    <div class="single-feature-inner text-center">
                        <div class="feature-icon"><img src="assets/img/icons/planning.svg" class="svg" alt=""></div>
                        <h5>Integración simple y sencilla</h5>
                        <p>Evok permite integrar su tecnología a tus procesos productivos de manera rapida</p>
                    </div>
                    <!-- End of single feature inner -->

                    <!-- single feature inner -->
                    <div class="single-feature-inner text-center">
                        <div class="feature-icon"><img src="assets/img/icons/goal.svg" class="svg" alt=""></div>
                        <h5>Interfaz<br> personalizable</h5>
                        <p>Un espacio de trabajo que se adecue a tus necesidades y a lo que realmente necesitas</p>
                    </div>
                    <!-- End of single feature inner -->
                </div>
                <!--/.feature-carousel-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!-- End of feature area -->
<!-- interact user -->
<section class="bg-2 pt-120 pb-120" id="provider">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image">
                    <img src="assets/img/banner/research-paper-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>
            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner">
                    <div class="title-service">
                        <h2>Proveedor</h2>
                    </div>
                    <h2>Consolida la información de todos tus puntos de venta de manera automatica</h2>
                    <p>
                        Evok te permite tener una trazabilidad completa de que es lo que le pasa a cada uno de tus productos en los puntos de venta de tus clientes en tiempo real.
                    </p>
                    <p>
                        Ofrece descuentos de tus productos dentro de la plataforma de Evok para que fomentes a tus clientes a mantener la información de tus productos actualizada en todo momento.
                    </p>
                </div>
                <!--End of user ineract text -->
            </div>
        </div>
        <div class="row">

            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner user-interact-inner-2">

                    <h2>Integra Evok a tu sistema de gestión empresarial o utiliza nuestros modulos de gestión empresarial que se adecue a tus necesidades</h2>
                    <p>
                        No tendras la necesidad de cambiar la manera en la que gestionas y administras tus recurso ya que Evok se integra a tu ERP para consolidar la información de tus clientes de manera automatica y la reparte en donde corresponde dentro de tu ERP.
                    </p>
                    <p>
                        Si no tienes un ERP, Evok te permite utilizar los modulos de gestión empresarial que necesitas para hacer crecer a tu empresa.
                    </p>
                </div>
                <!--End of user ineract text -->
            </div>
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image type2">
                    <img src="assets/img/banner/memory-storage-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image">
                    <img src="assets/img/banner/good-team-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>
            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner">
                    <h2>Toma mejores decisiones para el futuro de tu empresa</h2>
                    <p>
                        Basa y fundamenta las decisiones de tu empresa en datos reales de lo que realmente esta sucediento con tus productos en el mercado para aumentar tus probabilidades de exito al tomar decisiones estrategicas que impulsan el crecimiento y desarrollo.
                    </p>
                    <a href="#" class="btn">Conoce más</a>
                </div>
                <!--End of user ineract text -->
            </div>
        </div>
    </div>
</section>
<!-- interact user -->

<!-- interact user -->
<section class="pt-120 pb-120" id="retailer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner">
                    <div class="title-service">
                        <h2>Comercializador</h2>
                    </div>
                    <h2>Obten descuentos en cada orden de compra por usar la plataforma</h2>
                    <p>
                        Evok te ayuda a generar mas ingresos por cada producto que comercializas en tu negocio para que puedas aumentar tu rentabilidad en cada venta al obtener descuentos de tus proveedores al hacer ordenes de compra.
                    </p>
                </div>
                <!--End of user ineract text -->
            </div>
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image type2">
                    <img src="assets/img/banner/saving-money-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image">
                    <img src="assets/img/banner/performance-overview-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>
            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner">
                    <h2>El punto de venta y gestor de inventarios más simple y poderoso del mercado</h2>
                    <p>
                        La información más relevante centralizada en una sola plataforma intuitiva y simple de usar que te permite administrar de mejor manera la información de tu negocio para tomar mejores decisiones.
                    </p>
                </div>
                <!--End of user ineract text -->
            </div>

        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-5">
                <!-- user ineract text -->
                <div class="user-interact-inner">
                    <h2>Gestiona las ventas de tus productos por medio de codigos QR o codigos de barra</h2>
                    <p>
                        Al hacer una venta de tu producto, escanea el codigo QR o el codigo de barras del producto para que tus inventarios se actualicen de manera automatica y la información de tu negocio la mantengas ordenada dia a dia.
                    </p>
                    <a href="#" class="btn">Conoce más</a>
                </div>
                <!--End of user ineract text -->
            </div>
            <div class="col-lg-7 col-sm-7">
                <!-- user interact image -->
                <div class="user-interact-image type2">
                    <img src="assets/img/banner/QR-Code-amico.png" alt="">
                </div>
                <!-- End of user interact image -->
            </div>

        </div>

    </div>
</section>
<!-- interact user -->
<section class="section" id="team">
    <div class="container container-team"></div>
</section>
<!-- START TEAM -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title-team text-center">
                    <h2>El equipo que hace todo esto posible</h2>
                    <p>Somos un equipo mutlidisciplinario apasionados por el emprendimiento y la inovación tecnologica que impulse soluciones al rededor de México y del mundo.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-lg-3">
                <div class="team-box rounded shadow mt-4 bg-white rounded">
                    <div class="p-4">
                        <div class="team-img text-center">
                            <img src="./assets/img/user/huizar.png" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="text-center mt-4">
                            <h5 class="f-18">Jose Eduardo Huizar</h5>
                            <p class="text-muted mb-0 f-14 mt-2">eduhuizar4@gmail.com</p>
                        </div>
                    </div>

                    <div class="team-border text-center">
                        <p class="text-muted text-uppercase f-13 mb-0">COO</p>
                    </div>

                    <div class="team-social text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-box rounded shadow mt-4 bg-white rounded">
                    <div class="p-4">
                        <div class="team-img text-center">
                            <img src="./assets/img/user/zamo.png" class="rounded-circle img-fluid" alt="" />
                        </div>
                        <div class="text-center mt-4">
                            <h5 class="f-18">Juan Carlos Zamora</h5>
                            <p class="text-muted mb-0 f-14 mt-2">jczamora100@hotmail.com</p>
                        </div>
                    </div>

                    <div class="team-border text-center">
                        <p class="text-muted text-uppercase f-13 mb-0">CEO</p>
                    </div>

                    <div class="team-social text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-box rounded shadow mt-4 bg-white rounded">
                    <div class="p-4">
                        <div class="team-img text-center">
                            <img src="./assets/img/user/payo.png" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="text-center mt-4">
                            <h5 class="f-18">Jorge Mario Amaya</h5>
                            <p class="text-muted mb-0 f-14 mt-2">jorgeamap@hotmail.com</p>
                        </div>
                    </div>

                    <div class="team-border text-center">
                        <p class="text-muted text-uppercase f-13 mb-0">CCO</p>
                    </div>

                    <div class="team-social text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="text-reset"><i class="mdi mdi-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END TEAM -->
<!-- our partner -->
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 section-title-partnership-container">
                <!-- section title -->
                <div class="section-title section-title-partnership text-center">
                    <h2>Partnerships</h2>
                    <p>En evok creemos firmemente que la colaboración es el camino al exito.</p>
                </div>
                <!-- End of section title -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- partner carosel inner -->
                <div class="partner-carousel-wrap">
                    <div class="partner-carousel owl-carousel">
                        <!-- single partner -->
                        <div class="single-partner">
                            <img src="assets/img/logo-lumston3.jfif" alt="">
                        </div>
                        <!-- End of single partner -->

                        <!-- single partner -->
                        <div class="single-partner">
                            <img src="assets/img/fruitzer.png" alt="">
                        </div>
                        <!-- End of single partner -->
                        <!-- single partner -->
                        <div class="single-partner">
                            <img src="assets/img/ZonaEi_L.png" alt="">
                        </div>
                        <!-- End of single partner -->
                    </div>
                </div>
                <!--End of  partner carosel inner -->
            </div>
        </div>
    </div>
</section>
<!-- End of our partner -->

<!-- start blog area -->
<section class="border-top pt-115 pb-80" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <!-- section title -->
                <div class="section-title text-center">
                    <h2>Nuestras noticias y articulos</h2>
                    <p>Sigue de cerca todo lo que evok esta desarrollando dentro de su ecosistema ademas de temas relevantes dentro del sector retail, tecnología e inovación.</p>
                </div>
                <!-- End of section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <!-- single blog inner -->
                <div class="single-blog-inner">
                    <!-- blog image -->
                    <div class="post-image">
                        <a href="#">
                            <img src="assets/img/blog/Zien-ventures.png" alt="">
                        </a>
                        <div class="post-date">
                            <p><span>17</span>Enero</p>
                        </div>
                    </div>
                    <!--/.End of  blog image -->

                    <!-- post content -->
                    <div class="post-content">
                        <div class="post-details">
                            <div class="post-info d-flex">
                                <a href="#"><span>Categoria</span></a>
                                <a href="#"><span>Emprendimiento </span></a>
                            </div>

                            <div class="post-title">
                                <h3><a href="#">Evok es seleccionado para participar en el programa "Zien ventures" en donde 30 startups competiran para levantar capital</a></h3>
                            </div>
                            <p> La Zona Ei Región Occidente del Tecnologico de Monterrey y Lumston lanzan la convocatoria de "Zien ventures" con una metodología autogestionable basada en 15 milestones con 100 tareas especificas para tener la oportunidad de
                                lograr hasta 5 mil USD de inversión inicial.
                            </p>
                            <a class='blog-btn' href="#">Publicado el 17/01/2022</a>
                        </div>
                    </div>
                    <!-- /.End of post content -->
                </div>
                <!-- /.End of single blog inner -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- single blog inner -->
                <div class="single-blog-inner">
                    <!-- blog image -->
                    <div class="post-image">
                        <a href="#">
                            <img src="assets/img/blog/gdl-startup-street.png" alt="">
                        </a>
                        <div class="post-date">
                            <p><span>23</span>Febrero</p>
                        </div>
                    </div>
                    <!--/.End of  blog image -->

                    <!-- post content -->
                    <div class="post-content">
                        <div class="post-details">
                            <div class="post-info d-flex">
                                <a href="#"><span>Categoria</span></a>
                                <a href="#"><span>Emprendimiento </span></a>
                            </div>

                            <div class="post-title">
                                <h3><a href="#">Evento de Gdl startup street se celebrara de manera virtual donde más de 50 startups tendran la oportunidad de presentar su pitch deck</a></h3>
                            </div>
                            <p> El dia miercoles 23 de febrero el equipo de evok tuvo la oportunidad de presentar su pitch a un panel de inversionstas que tomaran la decisión de capitalizar a 10 startups que hayan cumplido con los requisitos y entregables
                                de "Zien ventures".
                            </p>
                            <a class='blog-btn' href="#">Publicado el 25/02/2022</a>
                        </div>
                    </div>
                    <!-- /.End of post content -->
                </div>
                <!-- /.End of single blog inner -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- single blog inner -->
                <div class="single-blog-inner">
                    <!-- blog image -->
                    <div class="post-image">
                        <a href="#">
                            <img src="assets/img/blog/launch.png" alt="">
                        </a>
                        <div class="post-date">
                            <p><span>28</span>Febrero</p>
                        </div>
                    </div>
                    <!--/.End of  blog image -->

                    <!-- post content -->
                    <div class="post-content">
                        <div class="post-details">
                            <div class="post-info d-flex">
                                <a href="#"><span>Categoria</span></a>
                                <a href="#"><span>Emprendimiento </span></a>
                            </div>

                            <div class="post-title">
                                <h3><a href="#">¡Evok pasa a la siguiente etapa de "Zien ventures" y levanta 5 mil USD dolares de inversion!</a></h3>
                            </div>
                            <p> El comite de inversionistas de Lumston ventures ha seleccionado a Evok como 1 de las 10 startups que recibiran 5 mil dolares como capital para seguir desarrollando la startup en la siguiente etapa Launch del programa "Zien
                                ventures" que constara de 5 milestones y 49 entregables.
                            </p>
                            <a class='blog-btn' href="#">Publicado el 28/02/2022</a>
                        </div>
                    </div>
                    <!-- /.End of post content -->
                </div>
                <!-- /.End of single blog inner -->
            </div>


        </div>
    </div>
</section>
<!-- end of blog artea -->

<!-- download app -->
<section class="border-top pt-110 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="download-app-inner text-center">
                    <h2 class="h1">
                        Se de los primeros en ser parte<br> de nuestros colaboradores</h2>
                    <h3>para que podamos brindarte un mejor servicio</h3>
                    <a href="#" class="btn">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of download app -->

<footer class="footer">
    <div class="footerbg">
        <img src="assets/img/footer-bg.png" alt="">
    </div>
    <div class="footer-top pt-120 pb-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <!-- footer widget -->
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/img/Logo-pequeño.png" alt=""></a>
                        </div>
                        <p>
                        </p>
                        <!-- footer social area -->
                        <div class="footer-social-area">
                            <ul class="social-icons social-icons-light nav">
                                <li><a href="https://www.facebook.com/Evokprojectmx" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/EvokProjectMx" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/evokmx/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/evok-project-mx/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <!-- End of footer social area -->
                    </div>
                    <!--End of footer widget -->
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <!-- widget header -->
                        <div class="widget-header">
                            <h5>Contacto</h5>
                        </div>
                        <!-- widget header -->
                        <div class="widget-body">
                            <ul class="address-list">
                                <li>
                                    <span><i class="fa  fa-phone-square"></i></span> +52 3310943278
                                </li>
                                <li>
                                    +52 3318480574
                                </li>
                                <li>
                                    +52 3310617260
                                </li>
                                <li>
                                    <span><i class="fa  fa-envelope"></i></span> evokmx@hotmail.com
                                </li>
                                <li>
                                    <span><i class="fa  fa-map"></i></span> Zapopan, Jalisco
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-text text-center">
            <p>© copyright 2022 by Evokmx.com</p>
        </div>
    </div>

</footer>

<!-- back to top -->
<div class="back-to-top">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- back to top -->


<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="assets/plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="assets/plugins/parsley/parsley.min.js"></script>

<!-- ==== parallax js==== -->
<script src="assets/plugins/parallax/parallax.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ==== Menu  js file==== -->
<script src="assets/js/menu.min.js"></script>

<!-- ===video popup=== -->
<script src="assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="assets/plugins/waypoints/jquery.counterup.min.js"></script>

<!-- ==== Script js file==== -->
<script src="assets/js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="assets/js/custom.js"></script>